<ul id="lists">
  <% @lists.sort { |list1, list2| percent_remaining(list2) <=> percent_remaining(list1) }.each do |list| %>
    <li class='<%= list_class(list) %>' >
      <a href="/lists/<%= list[:id]%>">
        <h2><%= list[:name] %></h2> 
        <p><%= todo_count(list) %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>